@media only screen and (max-width: 1201px) {

}
.responsive-img {
  object-fit: cover;
  object-position: 50% 45%;
  max-width: 100%;
  max-height: 300px;
  width: 100%;
  position: relative;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  border-radius: 30px;
  text-align: center;
  text-shadow: -5px 10px 5px #58575794;
  min-width: 370px;
}

.circle {
  width: 40px;
  height: 40px;
  background: radial-gradient(circle at center, white 60%, orange 80%);
  border-radius: 50%;
}

.btn {
  background-color: #4CAF50;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border: none;
  border-radius: 12px;
}
.active-button {
  border-color: rgba(218, 225, 227, 0.474) !important; /* Aktif butonun kenarlık rengini değiştir */
}

.fa-question, .fa-expeditedssl, .fa-money-bill-1{
 font-size: 400%;
}
.sunum i{
  color: rgb(255, 255, 255);
  background-color: rgb(18, 196, 223);
  border-radius: 50%;
  box-shadow: #9c9f9c -5px 4px 5px;
  font-size: xx-large;

}
.sunum div{
  min-width: 300px;
}
.rectangle{
  margin-top: 7%;
}
.teklif{
  margin-top: 10%;
  margin-bottom: 5%;
}
.teklif .form{
  border-right: 1px solid #afafaf; /* İstediğiniz rengi ve kalınlığı ayarlayabilirsiniz */
}
.teklif .btn{
  border: #4CAF50 2px solid;
  border-radius: 20px;
  color: #4dc247;
  font-weight: bold;
}
.teklif .btn:hover{
  color: #ffffff;
  background-color: #4dc247;;
}
.footer-container{
  background-color: rgba(14, 14, 14, 0.917);
}
.bottom-border {
  width: 60%; /* Yazının yarısı kadar genişlik */
  border-bottom: 1px solid rgba(0, 0, 0, 0.174); /* İstenilen border özellikleri */
  margin: 1% auto; /* Merkezlemek için */
}
#button1, #button2, #button3{
  min-width: 370px;
}

.whatsapp-icon {
  position: fixed;
  right: 10px;
  text-align: right;
  bottom: 10px;
  width: 5%;
  min-width: 60px;
}
.whatsapp-icon img {
  width: 100%;
}